.navbar-brand
{
letter-spacing: 3px;
  padding: 7px 7px;
border: solid rgba(160, 137, 5, 0.432) 3px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
border-radius: 40px;
}
#logout{
  margin-left: 10px;
  color: white;
  border: solid 2px rgba(161, 161, 160, 0.411);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#logout:hover{
  background-color: rgba(139, 139, 139, 0.603);
}
#search{
  margin-left:10px
}
#search:hover
{
  color: white;
  background: rgb(1, 182, 1);
}
.navbar{
  box-shadow: rgb(0, 0, 0) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.959) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
