
<div class="container-fluid" id="wholepage">
  <div class="row main-content text-center" id="maincontent">
    <div class="col-md-7 text-center company__info" >
     <img src="../../assets/IMG-20220208-WA0003.jpg" alt="">
    </div>
    <div class="col-md-5 col-xs-12 col-sm-12 login_form "  id="leftside">
      <div class="container-fluid">
        <!-- <div class="row">
          <img src="../../assets/dot-circle-svgrepo-com.svg" alt="" height="160px" width="160px">
        </div> -->
        <div class="row">
          <form control="" class="form-group">
            <div class="row">
              <input type="text" name="username" id="username" class="form__input" placeholder="Username" style="margin-top:30px">
            </div>
            <div class="row">
              <!-- <span class="fa fa-lock"></span> -->
              <input type="password" name="password" id="password" class="form__input" placeholder="Password">
            </div>

            <div class="row">
             <button  class="btn"  [routerLink]="['/home' ]" >Enter Dashboard</button>
              <!-- <input  value="Log  In" class="btn"  [routerLink]="['/home' ]" > -->
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

