
<app-navbar></app-navbar>
<div class="container-fluid" id="wholepage">
<div class="body">
  <div class="d-flex ">
    <div class="menu" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="gappx">
       <img src="../../../assets/IMG-20220208-WA0003.jpg" alt="" width="300px" height="220px">
       <hr style="margin-bottom: 30px; width: 100%; border-top: solid rgba(153, 153, 153, 0.425) 5px;">
      <button class="btn">Add New Restaurant</button>
      <button class="btn">Add New Bar</button>
      <button class="btn">Register Driver</button>
      <button class="btn">Add New Menu</button>
      <button class="btn">Reports</button>
    </div>
    <div class="page-content">
      <div class="header" id="kitcheninventory">Kitchen Inventory</div>
<hr>

      <!-- <div class="content-categories">
        <div class="label-wrapper">
          <input class="nav-item" name="nav" type="radio" id="opt-1">
          <label class="category" for="opt-1">Outgoing Orders</label>
        </div>
        <div class="label-wrapper">
          <input class="nav-item" name="nav" type="radio" id="opt-2" checked>
          <label class="category" for="opt-2">Incoming Orders</label>
        </div>
        <div class="label-wrapper">
          <input class="nav-item" name="nav" type="radio" id="opt-3">
          <label class="category" for="opt-3">Order Reports</label>
        </div>
      </div> -->

      <div class="tasks-wrapper">
        <ul class="tabs" role="tablist">
          <li>
              <input type="radio" name="tabs" id="tab1" checked />
              <label for="tab1"
                     role="tab"
                     aria-selected="true"
                     aria-controls="panel1"
                     tabindex="0">incoming orders</label>
              <div id="tab-content1"
                   class="tab-content"
                   role="tabpanel"
                   aria-labelledby="description"
                   aria-hidden="false">
              KLOUDKITCHEN TABLES first</div>
          </li>

          <li>
              <input type="radio" name="tabs" id="tab2" />
              <label for="tab2"
                     role="tab"
                     aria-selected="false"
                     aria-controls="panel2"
                     tabindex="0">Outgoing Orders</label>
              <div id="tab-content2"
                   class="tab-content"
                   role="tabpanel"
                   aria-labelledby="specification"
                   aria-hidden="true">
                   KLOUDKITCHEN TABLES  here</div>
          </li>
        </ul>

      </div>
    </div>
    <div class="right-bar">

      <div class="container" id="notices"><h1>Notices</h1>
      </div>
      <div class="right-content">
        <div class="task-box yellow">
          <div class="members">
            <img src="../../../assets/note-svgrepo-com.svg" alt="">
          <p>Manage Menues</p></div>
        </div>
        <div class="task-box blue">
          <div class="members">
            <img src="../../../assets/restaurant-svgrepo-com.svg" alt="">
          <p>Manage Restaurants</p></div>
        </div>
        <div class="task-box red">
          <div class="members">
            <img src="../../../assets/staff-svgrepo-com.svg" alt="">
          <p>Manage KKStaff</p></div>
        </div>


        <div class="task-box yellow">
          <div class="members">
            <img src="../../../assets/driver-svgrepo-com.svg" alt="">
          <p>Manage Drivers</p></div>

        </div>
      </div>
    </div>
  </div>
<!--
    <div class=" flex">
      <h1>Kloud Kitchen Management</h1>
  <div class="container">
        <mat-button-toggle-group appearance="legacy"  class="nav nav-pills justify-contenrt" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <mat-button-toggle style="  border-right: solid rgba(148, 148, 148, 0.205) 1px;" id="administrator" data-bs-toggle="pill" data-bs-target="#pills-administrator" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Incoming Orders</mat-button-toggle>
        </li>

        <li class="nav-item" role="presentation">
          <mat-button-toggle style="  border-right: solid rgba(148, 148, 148, 0.205) 1px;"   id="final-tab" data-bs-toggle="pill" data-bs-target="#pills-corepay" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Available Drivers</mat-button-toggle>
        </li>
        <li class="nav-item" role="presentation">
          <mat-button-toggle   id="reports-tab" data-bs-toggle="pill" data-bs-target="#pills-report" type="button" role="tab" aria-controls="pills-report" aria-selected="false">Order Reports</mat-button-toggle>
        </li>
      </mat-button-toggle-group><hr style="width: 100%; margin-bottom: 33px;border-top: solid rgba(92, 53, 8, 0.507) 2px;">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-administrator" role="tabpanel" aria-labelledby="pills-home-tab"></div>
        <div class="tab-pane fade" id="pills-corepay" role="tabpanel" aria-labelledby="pills-corepay"></div>
        <div class="tab-pane fade" id="pills-report" role="tabpanel" aria-labelledby="pills-report-tab"></div>
      </div>
</div>
  </div>
</div></div> -->
</div>

